.edge {
    padding: 70px 0 79px 0;
    background: url(../../img/fon2.png) center (center/cover) no-repeat;
    &__wrapp {
        margin-top: 65px;
        display: flex;
        justify-content: space-between
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &_subtitle {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 26px;
        text-align: center;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}   